//- index.pug
doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title http_redirection_and_requests
    meta(name='description', content='Testing http-redirect')
    meta(name='author', content='charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='redreq_style.css?v=1.0')
    //link(rel='manifest', href='/manifest.json')
    //link(rel='icon', href='web_blabla_favicon.svg', type='image/svg+xml')
    //script(type="text/javascript" src="lib/stimulus.umd.js")
  body
    h1 Http-redirection and Http-requests
    section
      h2 Using fetch
      button(type="button") Fetch
      p please press the button ...
    section
      h2 Using fetch-alternatives

    // The core logic
    script(type='module', src='redreq_app.js?v=1.0')
